<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-emplacement-heading"
        data-cy="EmplacementCreateUpdateHeading"
        jhiTranslate="digiparcApp.emplacement.home.createOrEditLabel"
      >
        Créer ou éditer un Emplacement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="digiparcApp.emplacement.identifiant" for="field_identifiant">Identifiant</label>
          <input
            type="number"
            class="form-control"
            name="identifiant"
            id="field_identifiant"
            data-cy="identifiant"
            formControlName="identifiant"
          />
          <div *ngIf="editForm.get('identifiant')!.invalid && (editForm.get('identifiant')!.dirty || editForm.get('identifiant')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('identifiant')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('identifiant')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="digiparcApp.emplacement.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
          <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="digiparcApp.emplacement.centreDeFormation" for="field_centreDeFormation"
            >Centre De Formation</label
          >
          <input
            type="text"
            class="form-control"
            name="centreDeFormation"
            id="field_centreDeFormation"
            data-cy="centreDeFormation"
            formControlName="centreDeFormation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="digiparcApp.emplacement.webSiteLink" for="field_webSiteLink">Web Site Link</label>
          <input
            type="text"
            class="form-control"
            name="webSiteLink"
            id="field_webSiteLink"
            data-cy="webSiteLink"
            formControlName="webSiteLink"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="digiparcApp.emplacement.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="digiparcApp.emplacement.formation" for="field_formation">Formation</label>
          <select
            class="form-control"
            id="field_formation"
            data-cy="formation"
            name="formation"
            formControlName="formation"
            [compareWith]="compareFormation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="formationOption" *ngFor="let formationOption of formationsSharedCollection">{{ formationOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
